*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.jogo{
    position: relative;
    //border: solid 1px;
    width: 50vw;
    height: 100vh;
    background-color: #40E0D0;
}

.jogo img{
    position: absolute;
    width: 400px;
    padding-top: 30%;
    padding-left: 30%;
}



